body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: white;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.black {
  color: black;
}

.bold {
  font-weight: bold;
}

.hero {
  background-image: url("./resources/images/the-flat-iron-building.png");
}

nav a {
  text-decoration: underline;
}
