body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: white;
  background-color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: black;
}

h3 {
  font-size: 23px;
  font-weight: bold;
  color: black;
}

p {
  font-size: 14px;
  color: black;
}

.hero-section {
  background-image: url("file:///Users/jenniferschneider/Downloads/projects/broadway/resources/images/the-flatiron-building.png");
  background-size: auto;
}

nav a {
  text-decoration: underline;
  font-size: 18px;
  color: white;
}

.flatiron {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("file:///Users/jenniferschneider/Downloads/projects/broadway/resources/images/the-flatiron-building.png");
}

.footer p {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
  color: white;
  width: 100%;
}

.footer a {
  color: white;
  font-weight: bold;
}
